@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  scroll-behavior: smooth;

  --c-bg: #fefefe;
  --c-scrollbar: #e5e5e5;
  --c-scrollbar-hover: #999;
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #aaa;
  }
}
html.dark {
  --c-bg: #050505;
  --c-scrollbar: #111;
  --c-scrollbar-hover: #222;
}

* {
  scrollbar-color: var(--c-scrollbar) var(--c-bg);
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--c-bg);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}

/* Query based dark mode */

@media (prefers-color-scheme: dark) {
  .shiki-light {
    display: none;
  }
}

@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  .shiki-dark {
    display: none;
  }
}

/* Class based dark mode */
html.dark pre[data-theme='light'] {
  display: none;
}

html.dark code[data-theme='light'] {
  display: none;
}

html:not(.dark) pre[data-theme='dark'] {
  display: none;
}

html:not(.dark) code[data-theme='dark'] {
  display: none;
}
