.prose {
  @apply text-[#222] dark:text-[#ddd];
}

/* TOC */
.prose .toc a {
  @apply text-sm no-underline opacity-40 hover:opacity-100;
}

.prose .toc ol {
  @apply pl-4;
}

.prose .toc ol li {
  @apply list-none;
}

.prose .toc {
  @apply fixed right-10 top-32;
}

.prose h1,
h2,
h3,
h4,
h5,
h6 {
}

.prose .anchor {
  @apply relative font-semibold text-[#222] no-underline dark:text-[#ddd];
}

.prose .anchor::before {
  content: '';
  display: block;
  height: 60px;
  margin-top: -60px;
}

/* Code */
.prose code:not([data-language]) {
  @apply rounded-sm bg-gray-300/20 px-2 py-1 before:content-none after:content-none;
}

/* Blockquote */
.prose blockquote {
  @apply border-none p-0;
}

.prose blockquote p {
  @apply relative m-0 px-8 py-1 text-gray-500;
}

.prose blockquote p::before {
  @apply absolute left-0 top-0 text-6xl text-gray-200 opacity-50;
}

.prose blockquote p::after {
  @apply absolute right-0 text-6xl text-gray-200 opacity-50;
}

/* List */
.prose .contains-task-list {
  @apply list-none pl-0;
}

/* Admonition */
.admonition .danger {
  @apply text-red-600;
}
.admonition .warning {
  @apply text-orange-600;
}
.admonition .tip {
  @apply text-green-400;
}
