.anchor-link {
  display: block;
  margin-left: 10px;
}

.anchor-link-title {
  font-size: 14px;
  line-height: 26px;
  padding: 8px 0;
  transition: color 0.3s ease;

  &:hover {
    color: var(--color-primary);
  }
}

.anchor-link-title-active {
  color: var(--color-primary);
  opacity: 1 !important;
}

.anchor-link-active {
  color: var(--color-primary);
  opacity: 1 !important;
}
