/* markdown github alerts styles */
@import 'remark-gh-alerts/styles/github-colors-light.css';
@import 'remark-gh-alerts/styles/github-colors-dark-media.css';
@import 'remark-gh-alerts/styles/github-base.css';

html,
body,
:root {
  height: 100%;
  scroll-behavior: smooth;
  scrollbar-color: var(--color-primary) transparent;
  scrollbar-width: thin;
  -webkit-tap-highlight-color: transparent;
  @apply transition-colors;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

.dark::view-transition-old(root) {
  z-index: 1;
}
.dark::view-transition-new(root) {
  z-index: 99999;
}

::view-transition-old(root) {
  z-index: 99999;
}
::view-transition-new(root) {
  z-index: 1;
}

::selection {
  @apply bg-primary text-white;
}
