@import url('https://fastly.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.css');

/* markdown github alerts styles */
@import 'remark-gh-alerts/styles/github-colors-light.css';
@import 'remark-gh-alerts/styles/github-colors-dark-media.css';
@import 'remark-gh-alerts/styles/github-base.css';

@import './tailwind.css';
@import './typography.css';

html,
body,
:root {
  @apply size-full min-h-screen overflow-x-hidden max-w-screen will-change-transform scrollbar-thin;

  /* Accent color for form controls */
  /* accent-color: var(--color-primary); */

  /* make app like native app in mobile */
  -webkit-tap-highlight-color: transparent;
  /*  for firefox */
  scrollbar-color: var(--color-primary) transparent;
}

*:focus {
  outline: none;
}

*:not(input):not(textarea):not([contenteditable='true']):focus-visible {
  outline: 0 !important;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 9999;
}
::view-transition-new(root) {
  z-index: 1;
}

.dark::view-transition-old(root) {
  z-index: 9999;
}

.dark::view-transition-new(root) {
  z-index: 1;
}

/* Make the incoming view sit on top when transitioning to dark,
   otherwise keep the old view on top (default) for dark->light shrink */
:root.view-to-dark::view-transition-new(root) {
  z-index: 9999;
}
:root.view-to-dark::view-transition-old(root) {
  z-index: 1;
}
:root.view-to-light::view-transition-old(root) {
  z-index: 9999;
}
:root.view-to-light::view-transition-new(root) {
  z-index: 1;
}


::selection {
  @apply bg-primary text-white;
}


@media screen and (min-width: 1024px) {
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 3px solid theme(colors.gray.300);
    @apply rounded-xl;
  }

  ::-webkit-scrollbar-thumb:hover {
    border-color: theme(colors.zinc.500/0.8);
  }

  ::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border: 3px solid theme(colors.zinc.500);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: theme(colors.zinc.500/0.5);
  }

  ::-webkit-scrollbar-corner {
    background: theme(colors.zinc.100);
  }
}
