@import url('https://fastly.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.css');

@import './tailwind.css';
@import './globals.css';


@media screen and (min-width: 1024px) {
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 3px solid theme(colors.gray.300);
    @apply rounded-xl;
  }

  ::-webkit-scrollbar-thumb:hover {
    border-color: theme(colors.zinc.500/0.8);
  }

  ::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border: 3px solid theme(colors.zinc.500);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: theme(colors.zinc.500/0.5);
  }

  ::-webkit-scrollbar-corner {
    background: theme(colors.zinc.100);
  }
}