.prose {
  @apply leading-loose text-zinc-600;
}

.prose > p {
  @apply mb-5;
}

.prose img {
  @apply inline-block;
}

.prose > *:first-child {
  @apply mt-0;
}

.prose > *:last-child {
  @apply mb-0;
}

.prose .anchor {
  @apply ml-1 opacity-0 transition-opacity hover:no-underline;
}

.prose h2:hover .anchor,
.prose h3:hover .anchor,
.prose h4:hover .anchor,
.prose h5:hover .anchor,
.prose h6:hover .anchor {
  @apply opacity-100;
}

.prose h2 {
  @apply text-3xl font-semibold;
  @apply my-7;
  @apply text-zinc-900;
}

.prose h3 {
  @apply text-2xl font-semibold;
  @apply my-7;
  @apply text-zinc-900;
}

.prose h4 {
  @apply text-xl font-semibold;
  @apply my-7;
  @apply text-zinc-900;
}

.prose h5 {
  @apply text-lg font-semibold;
  @apply my-7;
  @apply text-zinc-900;
}

.prose h6 {
  @apply text-base font-semibold;
  @apply my-7;
  @apply text-zinc-900;
}

.prose p {
  @apply my-3;
}

.prose blockquote {
  @apply border-l-4 border-zinc-300;
  @apply pl-5;
  @apply my-3;
  @apply text-zinc-500;
}

.prose ul {
  @apply list-disc;
  @apply pl-5;
}

.prose ol {
  @apply list-decimal;
  @apply pl-6;
}

.prose > ul,
.prose > ol {
  @apply my-7;
}

.prose a {
  @apply text-accent;
  @apply hover:underline;
}

.prose pre {
  @apply overflow-auto;
}

.prose .table-wrapper {
  @apply my-7 min-w-full overflow-auto whitespace-nowrap rounded-xl text-sm;
  @apply border border-border;
}

.prose table {
  @apply min-w-full;
}

.prose table thead {
  @apply text-left;
}

.prose table th,
.prose table td {
  @apply px-3;
  @apply py-4;
}

.prose table tbody {
  @apply text-zinc-500;
}

.prose table tbody tr:nth-child(2n-1) {
  @apply bg-zinc-100;
}

.prose iframe {
  max-width: 100%;
}

.prose .task-list-item {
  @apply list-none;
}

.prose > ul > .task-list-item {
  @apply -ml-5;
}

.prose :where(code:not(pre code)):not(:where([class~='not-prose'])) {
  color: var(--prose-code-color);
  background-color: var(--prose-code-bg-color);
  @apply rounded-md px-[7px] py-[1px] font-mono text-sm font-normal;
}

.prose .code-wrapper {
  @apply relative;
}

.prose .code-wrapper .copy-button {
  @apply absolute right-3 top-3 flex items-center gap-1 text-sm font-medium;
  @apply h-8 rounded-xl px-3;
  @apply border border-transparent bg-white/70 text-neutral-800 shadow-md backdrop-blur-md;
  @apply pointer-events-none opacity-0 transition-all duration-200;
  @apply hover:bg-white/90 hover:shadow-lg;
  @apply active:scale-95;
  @apply dark:bg-neutral-900/80 dark:text-neutral-100 dark:shadow dark:hover:bg-neutral-800/90;
}

.prose .code-wrapper:hover .copy-button,
.prose .code-wrapper:focus-within .copy-button {
  @apply pointer-events-auto opacity-100;
}

.prose .math {
  @apply inline-block max-w-full overflow-auto align-bottom scrollbar-hide;
}
