html {
  /* --prose-code-color: oklch(0% 0 0 / 1); */
  /* --prose-code-bg-color: oklch(0% 0 0 / 0.1) */
  /* Accent color for form controls */
  accent-color: var(--color-primary);

  /* make app like native app in mobile */
  -webkit-tap-highlight-color: transparent;
  /*  for firefox */
  scrollbar-color: var(--color-primary) transparent;
  scrollbar-width: thin;
}
