@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #fb7299;
  --secondary-color: #ffdced;
}

html,
body,
:root {
  height: 100%;
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(170, 170, 170);
  }
}
