.container {
  background-color: aquamarine;
  margin: 20px auto;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.element {
  background-color: skyblue;
  width: 100px;
  height: 100px;
}
