@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  scroll-behavior: smooth;
  @apply transition-colors;
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #aaa;
  }
}

* {
  scrollbar-color: var(--c-scrollbar) var(--c-bg);
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--c-bg);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

.dark::view-transition-old(root) {
  z-index: 1;
}
.dark::view-transition-new(root) {
  z-index: 99999;
}

::view-transition-old(root) {
  z-index: 99999;
}
::view-transition-new(root) {
  z-index: 1;
}

::selection {
  background-color: var(--color-primary-lighter) !important;
  color: theme(colors.white) !important;
  text-shadow: none;
}
