.prose {
  @apply text-[#222] dark:text-[#ddd];
}

/* TOC */
.prose .toc a {
  @apply text-sm no-underline opacity-40 hover:opacity-100;
}

.prose .toc ol {
  @apply pl-4;
}

.prose .toc ol li {
  @apply list-none;
}

.prose .toc {
  @apply lg:fixed lg:right-10 lg:top-32 lg:z-10;
}

.prose h1,
h2,
h3,
h4,
h5,
h6 {
  @apply h-fit;
}

/* Anchor */
.prose .anchor {
  @apply relative font-semibold text-[#222] no-underline dark:text-[#ddd];
}

.prose h2 .anchor:hover::after {
  content: '#';
  position: absolute;
  left: -1em;
  top: 50%;
  transform: translateY(calc(-50%));
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  color: var(--color-primary);
}

.prose h2:hover .anchor::after {
  opacity: 1;
}

/* CodeBlock */
.prose pre[data-theme*=' '] {
  @apply bg-transparent p-0;
}

code:not(pre) {
  @apply rounded-md bg-slate-100 px-2 py-1 before:hidden after:hidden dark:bg-slate-800;
}

code[data-theme*=' '],
code[data-theme*=' '] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

/* 
@media (prefers-color-scheme: dark) {
  code[data-theme*=' '],
  code[data-theme*=' '] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
} */

html.dark {
  code[data-theme*=' '],
  code[data-theme*=' '] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}

/* lineNumber */
code {
  counter-reset: line;
}

code > [data-line] {
  border-left-width: 2px;
  border-left-color: #0000;
}

code > [data-highlighted-line] {
  background: #b1b1fd1a !important;
  border-left-color: var(--color-primary);
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits='2'] > [data-line]::before {
  width: 2rem;
}

code[data-line-numbers-max-digits='3'] > [data-line]::before {
  width: 3rem;
}

/* Blockquote */
.prose blockquote {
  @apply border-none p-0;
}

.prose blockquote p {
  @apply relative m-0 px-8 py-1 text-gray-500;
}

.prose blockquote p::before {
  @apply absolute left-0 top-0 text-6xl text-gray-200 opacity-50;
}

.prose blockquote p::after {
  @apply absolute right-0 text-6xl text-gray-200 opacity-50;
}

/* List */
.prose .contains-task-list {
  @apply list-none pl-0;
}

/* Admonition */
.admonition {
  @apply relative my-12 border-l-[3px] px-8 py-px sm:-mx-[1.5ch] sm:rounded-[3px];
}

.admonition::before {
  @apply absolute -left-[26.5px] -top-[25px] hidden h-[50px] w-[50px] rounded-full bg-white sm:block;
}

.admonition.tip {
  @apply border-blue-600 bg-blue-300/30;
}
.admonition.tip::before {
  content: url('/tip.svg');
}

.admonition.warning {
  @apply border-yellow-400 bg-yellow-300/30;
}
.admonition.warning::before {
  content: url('/warning.svg');
}

.admonition.danger {
  @apply border-rose-500 bg-rose-300/30;
}

.admonition.danger::before {
  content: url('/danger.svg');
}
