:root {
  --c-bg: #fefefe;
  --c-scrollbar: #e5e5e5;
  --c-scrollbar-hover: #999;
  --font-sans: theme('fontFamily.sans');

  --color-primary: #3d8aa9;
  --color-primary-dark: #0070f3;
  --color-primary-light: #66d3ff;
  --color-primary-lighter: #a0f0ff;

  --color-secondary: #ff4d4f;
  --color-secondary-dark: #c51a20;
  --color-secondary-light: #ff7980;
  --color-secondary-lighter: #ffadad;
  --color-secondary-lightest: #ffe6e7;

  --color-tertiary: #38b2ac;
  --color-tertiary-dark: #178183;
  --color-tertiary-light: #64d5ca;
  --color-tertiary-lighter: #a0f0f3;
  --color-tertiary-lightest: #e8fffe;

  --color-quaternary: #0070f3;
  --color-quaternary-dark: #004dc9;
  --color-quaternary-light: #66d3ff;
  --color-quaternary-lighter: #a0f0ff;
  --color-quaternary-lightest: #e8fffe;

  --color-quinary: #f97316;
  --color-quinary-dark: #c53a00;
  --color-quinary-light: #ff9f40;
  --color-quinary-lighter: #ffe6a0;
  --color-quinary-lightest: #fffbeb;

  --color-senary: #f43f5e;
  --color-senary-dark: #c2183b;
  --color-senary-light: #f8717f;
  --color-senary-lighter: #fde6e9;
  --color-senary-lightest: #fff5f5;

  --color-black: #222;
  --color-gray-100: #f7fafc;
  --color-gray-200: #edf2f7;
  --color-gray-300: #e2e8f0;
  --color-gray-400: #cbd5e0;
  --color-gray-500: #a0aec0;
  --color-gray-600: #718096;
  --color-gray-700: #4a5568;

  --skeleton-color: #f8fafc;
  --skeleton-to-color: #e2e8f0;

  --highlighted-bg-color: #b1b1fd1a;
  --highlighted-color: var(--color-primary);

  --header-height: 60px;
  --footer-height: 60px;
}

html.dark {
  --c-bg: #050505;
  --c-scrollbar: #111;
  --c-scrollbar-hover: #222;

  --skeleton-color: #111;
  --skeleton-to-color: #222;

  --highlighted-bg-color: #b1b1fd1a;
  --highlighted-color: var(--color-primary);
}
